body{
    background-image: url('../images/nenn.jpg');
    color: aliceblue;
}
/* Header/Blog Title */
.header{
    padding: 10px;
    text-align: center;
    color: #201492;
    background-color: rgb(207, 248, 205);
    background-image: url('../images/banner.jpg');
}
.header h1{
    font-size: 40px;
}
.header p{
    font-size: 20px;
}
.logo{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
/* Style the top navigation bar */
.topnav{
    overflow: hidden;
    background-color:  #090caf;
}
/* Định dạng link điều hướng */
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover{
    background-color: #f7d58b;
    color: white;
}
.form-group{
    margin: 2px 0px;
}
.form-control{
    width: 30%;
    padding: 5px;
    border-radius: 5px;
}
/* Footer */
.footer{
    padding: 10px;
    text-align: center;
    background: #abd7f5;
    margin-top: 10px;
    color: #1106a5;
    
}
.footer1{
    float: left;
    width: 30%;
    font-size: x-large;
}
.footer2{
    float: left;
    width: 38%;
}
.footer3{
    float: right;
    width: 30%;
}
.footer:after{
    content: "";
    display: table;
    clear: both;
}
.img{
    width: 50%;
    height: 30%;
}
